/*GLOBAL STYLES*/
body,
header,
ul,
li,
a,
h1,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: red;
}

a:active {
  color: yellow;
}

.page-container {
  background: #f9aa4a;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}


/*HEADER*/
header {
  align-items: center;
  display: flex;
  height: 12%;
}

.site-title {
  flex-grow: 2;
}

.main-menu {
  flex-grow: 1;
}


/*BODY*/
main {
  background: #333;
  height: 80%;
}

.game-wrapper {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: calc(100% - 16px);
  justify-content: center;
  padding: 8px;
}


/*FOOTER*/

footer {
  height: 8%;
}



/*DRY pricipal*/
header,
main,
footer {
  text-align: center;
}


/*GAME*/
.background{
  background: rgb(52, 166, 251);
  border-spacing: 0;
  table-layout: fixed;
}

.background td {
  padding: 0;
}

.lava{
  background: rgb(255, 100, 100);
}

.wall {
  background: white;
}

.actor {
  position: absolute;
}

.coin {
  background: rgb(241, 229, 89);
}

.player {
  background: rgb(64, 64, 64);
}

/*Win or Loose*/
.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
